<%= form_for(@food) do |f| %>

  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :properties %><br>
    <%= f.text_area :properties %>
  </div>
  <div class="field">    
    <table>
    <tr>
    <% @components_all.keys.each do |ctname| %>    
    <th>
    <%= f.label ctname %><br>
    </th>
    <% end %>
    </tr>
    <% @components_all_lengths = {} %>
    <% @components_all.keys.each do |ctname| %>
    <% @components_all_lengths[ctname] = ctname.length%>
    <% end %>
    <% @larger_key = @components_all_lengths.max_by{|k,v| v} %>
    <% for component in 0..@larger_key[1] %>
      <tr>
      <% @components_all.keys.each do |ctname| %>    
      <td>
        <% if @components_all[ctname][component]%>
          <% if params[:id] %>
          <%= 
            check_box_tag @components_all[ctname][component].name, 'yes', (@product_components[ctname][component].include? component)
          %>
          <% else %>
          <%= 
            check_box_tag @components_all[ctname][component].name, 'yes'
          %>
          <% end %>
        <%= @components_all[ctname][component].name %>
      <% end%>
    </td>
    <% end %>
      </tr>  
    <% end %>
  </table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
